*{
	margin: 0;
}

header{
  display: flex;
	background-color: grey;
  justify-content: space-between;
  height: 8vh;
}
nav{
  display: flex;
  width: 90%;
  border: 1px solid red;
}
section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid red;
  height: 80vh;
}

img{
  align-self: center;
}